<div class="bmicalc">
    <h1>BMI Calculator</h1>
    <div>
    <input type="text" id="height"  placeholder="enter your height(cm)">
    <input type="text" id="weight"  placeholder="enter your weight(kg)">
    <button id='bmi'>Result</button>
    </div>
    <table>
    <tr style="background-color: orange; color:rgb(255, 255, 255);">
        <th>BMI</th>
        <th>Result</th>
        <th>Healthy Weight</th>
    </tr>
    <tr style="background-color: rgb(209, 209, 209);">
        <th id="result">--</th>
        <th id="feedback">--</th>
        <th id="result1" style="color:green;">--</th>
    </tr>
    </table>
</div>  